@import "assets/variables.scss";

* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    font-family: 'Ubuntu';
}

body {
    background-color: $bg-primary;
    color: $tx-primary;
    max-width: 900px;
    margin: auto;

    .home-in-title{
        color: $tx-primary;
        display: flex;
        justify-content: center;
        margin: 2rem 0;
    }
    .home-in-search{
        width: 100%;
        display: flex;
        margin-bottom: 2rem;

        input{
            width: 80%;
            padding: 10px 20px;
            border-radius: 4px 0 0 4px;
            border: 1px solid $color-primary;

            :focus-visible{
                outline: none;
            }
            
        }
        button{
            width: 20%;
            border-radius: 0 4px 4px 0;
            border: 1px solid $color-primary;
            background-color:green;
            color:white;
            cursor: pointer;
          
        }
    }

    .card-in-cpn{
        display: flex;
        width: 100%;
        justify-content: space-between;
        background-color: white;
        border-radius: 8px;
        cursor: pointer;
        color: black;
        padding: 0.5rem;
        align-items: center;
        margin-bottom: 1rem;

        .details {
            display: flex;
            
            img{
                width: 50px;
                height: 50px;
                border-radius: 50%;
                margin-right: 1rem;
               
            }
            
            .tx-card {
                P:nth-child(2){
                    color: gray;
                    padding: 4px 1px 1px 1px;
                    align-items: left;
                }
            }
        }
        
    }
    
    .profile-details{
        display: flex;
        margin: 2rem 0 4rem 0;
        width: 100%;
        align-items: center;
        
        img{
            width: 150px;
            height: 150px;
            border-radius: 50%;
            margin-right: 2rem;
            padding: 1px;
        }

        .pf-init-user{
            width: 100%;

            .dt-user {
                display: flex;
                justify-content: space-between;

                .followers-details {
                    margin-right: 3rem;
                }
            }
            
            .username_details {
                margin-top: 2rem;
            }
                
        }
        

    }
}
a{
    text-decoration: none;
    color: white;
    width: 100%;
    display: flex;
}
